canvas {
    background: #F9E4BC;
    image-rendering: pixelated; 
}
body {
    background: black;
    padding:0;
    margin:0;
    color:white;
	font:arial;
}
input[type="text"]{
	width:25%;
	font:arial;
}
#ip {
	padding:0px;
	margin:0px;
}
select {
	min-width:25%;
	appearance: none;
}
button {
	margin:1px;	
	appearance:none;
	width:12.5%;
	height:20px;
	font:arial;
}
.sceneStorage{
	display:none;
	width:0;
	height:0;
	padding:0;
	margin:0;
}
img {
	background:#F9E4BC;
	width:25%;
	height:25%;
	image-rendering: pixelated; 
	border: blue 3px solid;
}
