@keyframes drunk {
	from {filter : hue-rotate(0deg);}
	to {filter : hue-rotate(360deg);}
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
canvas {
    background: black;
    image-rendering: pixelated; 
}
body {
    background: black;
    padding:0;
    margin:0;
    height:100%;
    overflow-y:hidden;
    color:white;
	font:arial;
}
input[type="text"]{
	width:25vw;
	font:arial;
	text-align:left;
}
input[type="number"]{
	width:25vw;
	font:arial;
	text-align:left;
}
#ip {
	padding:0px;
	margin:0px;
	display:block;
}
select {
	min-width:25vw;
	appearance: none;
	text-align:left;
}
button {
	margin:1px;	
	appearance:none;
	width:12.5vw;
	height:20px;
	font:arial;
}
#sceneStorage{
	display:none;
	width:0;
	height:0;
	padding:0;
	margin:0;
}
img {
	background:#F9E4BC;
	width:25vw;
	height:25vw;
	image-rendering: pixelated; 
	border: blue 3px solid;
}
